<!DOCTYPE html>
<html>
  <head>
    <title>Página Principal</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <main>
      <div id="container">
        <div class="logo">
        <img src="/images/Asset 1.png" alt="">
        </div>
    <p>Bem vindo(a) <a href=""><%= user.nome %></a>  </p>
    <button><a href="/admin">Admin</a></button>
  </body>
</html>
