<!DOCTYPE html>
<html>
  <head>
    <title>Página Principal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome <a href=""><%= user.nome %></a>  </p>
  </body>
</html>
