<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Igreja Presbiteriana de Pirassununga</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
        <div id="container">
          <img src="/images/Asset 1.png" alt="">
            <form action="">
              <div class="userBox">
                <h3>CPF</h3>
                <div>
                  <label for="username" class="userBox">
                    <input
                      type="text"
                      name="cpf"
                      id="cpf"
                      placeholder="Digite seu CPF"
                    />
                  </label>
                </div>
              </div>
              <div class="passBox">
                <h3>SENHA</h3>
                <div>
                  <label for="password" class="passBox">
                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Digite sua senha"
                    />
                  </label>
                </div>
              </div>
              
            </form>
            <div class="buttons">
              <button class="create">Criar conta</button>
              <button class="login">Login</button>
            </div>
          </div>
    </main>
    
  </body>
</html>
